.main {
  max-width: 1000px;
  width: calc(100% - 3rem);
  margin: auto;

  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  gap: 1rem;
}

.main h1 {
  width: 100%;
  text-align: center;
  padding: 50px 0 20px;
}

.main > form {
  width: 40%;
  min-width: 350px;
}
.main > section {
  flex: 1; /*나머지영역 차지*/
}

@media (max-width: 800px) {
  .main > form,
  .main > section {
    width: 100%;
    min-width: 100%;
  }
}

/* SearchCon */
.SearchCon {
  display: flex;
  gap: 1rem;
  margin-bottom: 2rem;
}
.SearchCon > * {
  padding: 1rem;
  border: none;
  border-radius: 10px;
  outline: none;
}
.SearchCon input {
  flex: 1;
  background-color: antiquewhite;
}
.SearchCon button {
  cursor: pointer;
}

/* List */
.list {
  display: flex;
  align-items: center;
  gap: 1rem;
  border-bottom: 1px solid #eaeaea;
  padding: 1rem;
}
.list p {
  flex: 1;
  display: flex;
  gap: 1rem;
}
.list span {
}
.list button {
  padding: 0.5rem 1rem;
  border-radius: 5px;
}

/* Modal */
.modalOverlay {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
}
.modalContent {
  background-color: white;
  padding: 2rem;
}
.modalContent button {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  top: -50px;
  left: 50%;
  transform: translateX(-50%);
}
